.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #000000;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.jumbotron {
    padding:50px 30px 20px 30px;
    margin: 20px auto;
    background: #28b78d ;
    color:#243743;
}

.breadcrumb{
    color: #243743;
    font-size: medium;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
    color: black;
}

.navbar-dark {
    background-color: #000000;
}

table {
    font-family: arial, sans-serif;
    font-size:medium;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid #737373;
    text-align:center;
    padding: 4px;
}

thead{
    background: black;
    color: white;
    
}

table-striped{
    background: #243743;
}

b{
    color: #243743;
}

.submit{
    background-color: #28b78d;
    cursor: pointer; /* "hand" cursor */

}

label {
    background-color: #243743;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    margin-bottom: 20px;
    margin-top: 1rem;
    margin-right: 5px;
  }

  #ra_csvfile + label {
	cursor: pointer; /* "hand" cursor */
}

.card-title{
    color: #243743;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px;
    
    color: #243743;
  }
  

  
 
  

  
  a:active {
    background: black;
    color: white;
  }