.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #000000;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.jumbotron {
    padding:50px 30px 20px 30px;
    margin: 20px auto;
    background: #28b78d ;
    color: black;
    font-size: large;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
    color: black;
}

.navbar-dark {
    background-color: #000000;
}

b{
    color: #28b78d;
}

.submit{
    background-color: #28b78d;
    cursor: pointer;
    text-transform:uppercase;
}

label {
    background-color: #243743;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    
    margin-bottom: 20px;
    margin-top: 1rem;
    margin-right: 5px;
  }

  #ra_csvfile + label {
	cursor: pointer; 
}

strong{
  color: #243743;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px;
    
    color:#28b78d;
  }
  
.listaHorizontal{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
  
  input:valid{
    border-color: black;
    background-color: #28b78d;
  }

  a:active {
    background: black;
    color: white;
  }

  input[type=number]{
    -webkit-appearance: none;
    appearance: none;
  

    border: 1px solid #737373;

  
    font-family: inherit;
    font-size: 100%;
    transition: 0.5s;
    box-sizing: border-box;
  }

  input[type=file]::file-selector-button {
    border: 2px solid #28b78d;
    color: white;
    
    background-color: #28b78d;
    transition: 0.5s;
    font-family: 'Secular One', sans-serif;
    cursor: pointer;
  }

  .form-range{
    height: 0;

  }

output{
    color: #28b78d;
    font-size:larger;
}

  h1{
    color: white;
    text-transform:uppercase 
  }

  h2{
    color: black; 
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-transform:uppercase
  }

  h3{
    color: #243743;
    text-transform:uppercase  
  }

  h4{
      font-size: medium;
      text-transform:uppercase;
      color: #28b78d;
      
  }

  h5{
    color: #28b78d;
    font-size:larger;
  }

  
.row-content{
    margin: 10px;
    padding: 10px;
    
}

p{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size:medium;
    text-transform:uppercase;
}

label{
    font-family: 'Secular One', sans-serif;
    margin-bottom: 10px;
    font-size: medium;
    text-align: center;
}

.col-form-label{
    font-family: 'Secular One', sans-serif;
    margin-bottom: 10px;
    margin-left: 0px;
    color: white
    
}

.btn{
    font-family: 'Secular One', sans-serif;
    background-color: #28b78d;
    color: black;
    text-transform:uppercase;
}

.btn:hover{
  background-color:white; 
  color: black;
}


.row{
    margin-top: 20px;
    margin-bottom:  20px;
    border-color: #737373;
}

table.dataframe, .dataframe th, .dataframe td {
    
    border-bottom: 1px solid #243743; 
    border-left: 1px solid #243743; 
    text-align:center;
    padding: 5px;
    font-size: 0.9em;
  }
  
  thead{
    background: black;
    color: white;
    
}

.descriptores{
    text-align: center;
    align-content: center;
    align-self: center;
}



.accordion-button:not(.collapsed) {
    color: black ;
    background-color: white ;
  }
  
  
  .accordion-button{
    text-transform:uppercase;
    color: black; 
    background-color: white;
    border-style: solid;
    border-color:#737373;
    border-width: 2px ;
    
  }
  
  .accordion-button:link, .accordion-button:hover, .accordion-button:active, .accordion-button:focus  {
    background-color: #243743;
    color:#FFF ;
    text-decoration: none ;
    box-shadow: 0px ; 
    border-color: #FFF ;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg)
  }

  
  

.accordion-body{
    background-color: black ;
    color: white;
}

.accordion-item{
    border-color: white ;
}


li{
  text-transform:uppercase
}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    
  }


.option{
  background-color: #243743; 
  color: #FFF;
}


.card{
  background-color: black;
  border-style: solid;
  border-color: #28b78d;
  border-width: 6px ;
  color: white;
}

