.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #000000;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:40px 30px 40px 30px;
    margin:0px auto;
    background: #28b78d ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}


body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    background-color: #000000;
}

