<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganbaty: {% block title%}{% endblock%}</title>
    <link rel="icon" href="{{url_for('static',filename='img/logo.png')}}">
    <!-- Bootstrap & CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link type="text/css" href="@@path/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body d-flex flex-column>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <!-- Logo -->
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="Logo de Ganbaty" width="64" height="64">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Contenido del navbar -->
                {% block navbar%}
                
                
                {% endblock%}
            </ul>
            
          </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    {% block jumbotron%}

    {% endblock%}
    

    <!-- Contenido de cada página -->
    <div class="container">
        {% block body%}

        {% endblock%}
    </div>

        <!-- Footer -->
    <footer class="footer">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-6 mb-4 mb-lg-0"><a href="/"><img src="{{url_for('static',filename='img/logo.png')}}" alt="" width="128" class="mb-3"></a>
                    <p class="font-italic">Proyecto para la asignatura de inteligencia artificial con el fin de crear una 
                        herramienta que emplea algoritmos de Machine Learning como reglas de asociación, métricas de distancia, 
                        clustering particional o jerárquico, regresión logística, árboles de decisión y bosques aleatorios.</p>
                </div>
                <div class="col-6 col-md-6 mb-4 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold mb-4">Herramientas</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="/reglas_asociacion">Reglas de asociación</a></li>
                        <li class="mb-2"><a href="/metricas_distancia">Métricas de distancia</a></li>
                        <li class="mb-2"><a href="/clustering">Clustering</a></li>
                        <li class="mb-2"><a href="/regresion_logistica">Regresión logística</a></li>
                        <li class="mb-2"><a href="/arboles_decision">Árboles de decisión</a></li>
                        <li class="mb-2"><a href="/bosques_aleatorios">Bosques aleatorios</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyrights -->
        <div class="py-4">
            <div class="container text-center">
                <p class="mb-0 py-2">© 2022 GANBATY, Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <!-- Popper.js & Bootstrap JS. -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="@@path/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/scripts.js')}}"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>></script>
</body>
</html>