<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>

    <!-- Bootstrap & CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <!-- Logo -->
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="" width="64" height="64">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Contenido del navbar -->
                {% block navbar%}
                
                
                {% endblock%}
            </ul>
            
          </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Ganbaty</h1>
                    <p>Una herramienta de IA diseñada por David Perales Rodríguez para la asignatura de Inteligencia Artificial de la Facultad de Ingeniería en la UNAM</p>
                </div>
                <div class="col-12 col-sm">
                </div>
            </div>
        </div>
  </header>

    <!-- Contenido de cada página -->
    <div class="container">
        {% block body%}

        {% endblock%}
    </div>

    <!-- Footer -->
    <footer class="footer text-center text-white">
        <div>
            <div>             
                <div>
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Reglas de asociación</a></li>
                        <li><a href="#">Clustering particional</a></li>
                        <li><a href="#">Clustering jerárquico</a></li>
                    </ul>
                </div>
               
           </div>
           <div>             
                <div>
                    <p>© Copyright 2022 Ganbaty</p>
                </div>
           </div>
        </div>
    </footer>
    <!-- Popper.js & Bootstrap JS. -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>