{% extends './base.html' %}

{% block title%}Bosques aleatorios{% endblock%}

{% block navbar%}
    
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house me-2"></i>Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-toolbox me-2"></i> Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion"><i class="fa-solid fa-magnifying-glass ms-2 me-4"></i>Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia"><i class="fa-solid fa-pen-ruler ms-2 me-4"></i> Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering"><i class="fa-solid fa-circle-nodes ms-2 me-4"></i>Clustering</a></li>
            <li><a class="dropdown-item" href="/regresion_logistica"><i class="fa-solid fa-chart-line ms-2 me-4"></i>Regresión logística</a></li>
            <li><a class="dropdown-item" href="/arboles_decision"><i class="fa-solid fa-tree ms-2 me-4"></i>Árboles de decisión</a></li> 
            <li><a class="dropdown-item" href="/bosques_aleatorios"><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-3"></i>Bosques aleatorios</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12">
                    <h1><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-4"></i>Bosques aleatorios</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}

{% block body %}
   
    <div class="row">
        
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house me-1"></i></a></li>
            <li class="breadcrumb-item"><a href="/bosques_aleatorios"><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-2"></i>Bosques aleatorios</a></li>
            <li class="breadcrumb-item active"><i class="fa-solid fa-bullhorn me-2"></i>Resultados</li>
        
        </ol>
    </div>
   
    <div class="row">
        <h2><i class="fa-solid fa-bullhorn me-4"></i>RESULTADOS</h2>
    </div>      

    <div class="row">
        <div class="col-3">
            <div>
                <h3>Score:</h3><b>{{score}}</b>
            </div>
        </div>   
        <div class="col-3">
            <div class="mb-4">
                <div>
                    <h3>Variables predictoras:</h3>
                </div>
                <div>
                    <b>
                        {% for predictoras in X %}
                            <li >
                                {{predictoras}}
                            </li>
                        {% endfor %}
    
                    </b>
                </div>
            </div>
            <div>
                <div>
                    <h3>Variables clase:</h3>
                </div>
                <div>
                    <b>
                        <li>{{Y}}</li>
                    </b>
                </div>
            </div>
        </div>
        <div class="col-3">
            
            <div class="mb-4">
                <div>
                    <h3>Parámetros:</h3>
                </div>
                <div>
                    <li><b>n_estimators:</b> {{n_estimators}} </li>
                    <li><b>max_depth:</b> {{max_depth}} </li>
                    <li><b>min_samples_split:</b> {{min_samples_split}}</li>
                    <li><b>min_samples_leaf:</b>  {{min_samples_leaf}}</li>
                </div>
            </div>
            
        </div>



        <div class="col-3">
            <div>
                <h3>Parámetros del modelo: </h3>
            </div>
            <div >
                <b>Criterio: </b> {{criterio}}
            </div>
            <div >
                <b>Importancia: </b> {{importancia}}
            </div>
            <div >
                <b>MAE: </b> {{mae}}
            </div>
            <div >
                <b>MSE: </b> {{mse}}
            </div>
            <div >
                <b>RMSE: </b> {{rmse}}
            </div>
        </div> 
    </div>


{% endblock %}




