{% extends './base.html' %}

{% block title%}GANBATY: Reglas de asociación{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia">Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Clustering</h1>
                    
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
        
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/clustering">Clustering</a></li>
            <li class="breadcrumb-item"><a href="/clustering/parametros">Parámetros</a></li>
            <li class="breadcrumb-item active">Resultados</li>
        </ol>
    </div>
   
   

    
    
    <div class="row">
        <h2>Clustering Jerárquico:</h2>
        {% for table in tablesJ %}
            {{titlesJ[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    </div>
   



    <div class="row">
        <h2>Clustering Particional:</h2>
        {% for table in tablesP %}
            {{titlesP[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    </div>  
    
    <div class="row col-12">
        <a class="btn" href="/clustering/parametros"> Volver a calcular </a>
    </div>
        
    
    
{% endblock %}




