{% extends './base.html' %}

{% block title%}GANBATY: Clustering{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house me-2"></i>Inicio</a>
    </li>
    <li class="nav-item dropdown">
        
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-toolbox me-2"></i> Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion"><i class="fa-solid fa-magnifying-glass ms-2 me-4"></i>Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia"><i class="fa-solid fa-pen-ruler ms-2 me-4"></i> Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering"><i class="fa-solid fa-circle-nodes ms-2 me-4"></i>Clustering</a></li>
            <li><a class="dropdown-item" href="/regresion_logistica"><i class="fa-solid fa-chart-line ms-2 me-4"></i>Regresión logística</a></li>
            <li><a class="dropdown-item" href="/arboles_decision"><i class="fa-solid fa-tree ms-2 me-4"></i>Árboles de decisión</a></li> 
            <li><a class="dropdown-item" href="/bosques_aleatorios"><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-3"></i>Bosques aleatorios</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12">
                    <h1><i class="fa-solid fa-circle-nodes me-4"></i>Clustering</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
      
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house me-2"></i></a></li>
            <li class="breadcrumb-item active"><i class="fa-solid fa-circle-nodes me-2"></i>Clustering</li>
        </ol>
    </div>

    <div class="row">
        <h3><i class="fa-regular fa-circle-question me-2"></i>¿Qué es el clustering? </h3>
        <p class="d-none d-sm-block"> Consiste en la segmentación y delimitación de grupos
            de objetos (elementos), que son unidos por características comunes que éstos comparten
            (aprendizaje no supervisado).
        </p>
        <p class="d-none d-sm-block">
            En esta herramienta se emplearán dos tipos de clusters:
        </p>
        <div class="accordion" id="accordionExample4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne4">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                        Jerárquico
                    </button>
                </h2>
                <div id="collapseOne4" class="accordion-collapse collapse" aria-labelledby="headingOne4" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                        <p class="d-none d-sm-block">Organiza los elementos, de manera recursiva, en una
                            estructura en forma de árbol.
                            Este árbol representa las relaciones de similitud entre los distintos elementos.
                        </p>
                        <h3 style="color: #28b78d">Pros</h3>
                        <ul>
                            <li>Facilidad de manejo de los objetos.</li>
                            <li>No se asume un número particular de grupos.</li>
                            
                        </ul>
                        <h3 style="color: #28b78d">Contras</h3>
                        <ul>
                            <li>Una vez que se toma la decisión de combinar dos
                                grupos, no se puede regresar atrás.</li>
                            <li>Lento para grandes conjuntos de datos.</li>
                            
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                    Particional
                </button>
                </h2>
                <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                        <p class="d-none d-sm-block">Conocido también como de particiones, organiza los elementos dentro
                            de k clústeres. Tiene ventajas en aplicaciones que involucran gran cantidad de datos.
                        </p>
                        <h3 style="color: #28b78d">Pros</h3>
                        <ul>
                            <li>Tiene ventajas en aplicaciones que involucran gran cantidad de datos.</li>
                            <li>Resuelve problemas de optimización, dado que la función es minimizar
                                (optimizar) la suma de las distancias de cada elemento al centroide de un clúster.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
  

    <!-- Button Modal -->
    <button type="button" class="btn btn-block btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-form"> <i class="fa-solid fa-upload me-2"></i> Subir archivo CSV </button>
    <!-- Modal Content -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card  p-3 p-lg-4">
                        <div class="card-header  text-center ">
                            <h4>Clustering</h4>
                            <span>Sube tu archivo CSV</span>
                        </div>
                        <div class="card-body p-0 pl-lg-3">
                            <form action="/clustering/parametros" method="POST" enctype="multipart/form-data">
                                <!-- Form -->
                                <label for="c_csvfile">Archivo CSV</label>
                                <div class="form-group mb-4">
                                    <div class="input-group">     
                                        <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-file"></i></span>
                                        <input class="form-control" type = "file" id="c_csvfile" name="c_csvfile" accept=".csv" required/>
                                    </div>
                                </div>

                                <!-- End of Form -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Seleccionar las características</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
   
    

    
{% endblock %}


