{% extends './base.html' %}

{% block title%}Una herramienta para IA{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia">Métricas de distancia</a></li>

            <li><a class="dropdown-item" href="/clustering">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12">
                    <h1>GANBATY</h1>
                    
                    <p>Es un proyecto para la asignatura de inteligencia artificial con el fin de crear una herramienta que emplea algoritmos de Machine Learning como reglas de asociación, métricas de distancia, clustering particional o jerárquico.</p>
                </div>
                
            </div>
            
        </div>
        
    </header>
{% endblock%}


{% block body %}
   
    <div class="row">

        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Inicio</a></li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>HERRAMIENTAS</h2>
            <div class="card">
                <h3 class="card-header"> REGLAS DE ASOCIACIÓN </h3>
                
                <div class="card-body">
                    <p class="d-none d-sm-block"> Son usados por <b data-toggle="tooltip" title="Presentan distintos tipos de temas o ítems de información que son del interés de un usuario en particular."> <a target="_blank" href="https://www.grapheverywhere.com/sistemas-de-recomendacion-que-son-tipos-y-ejemplos/#:~:text=Un%20sistema%20de%20recomendaci%C3%B3n%20es,o%20valor%20para%20el%20usuario.">sistemas de recomendación</a></b>. Un sistema de recomendación incluye uno o más algoritmos de Inteligencia Artificial que buscan
                        contenido (información) sobre una <b data-toggle="tooltip" title="En un análisis en tiempo real o de big data."> <a target="_blank" href="https://doc.arcgis.com/es/iot/ingest/what-is-a-data-source-.htm">fuente de datos</a></b>, ya sea de clientes o usuarios, para generar
                        recomendaciones en función de los gustos o necesidades de la persona.</p>
                    
                        
                    <a class="btn" href="/reglas_asociacion" role="button">Reglas de asociación</a>
                    

                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> MÉTRICAS DE DISTANCIA </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block">Es una puntuación objetiva que resume la diferencia entre dos elementos
                        (objetos), como: compras, ventas, diagnósticos, personas, usuarios, entre otros. Estas mediciones se utilizan para <b data-toggle="tooltip" title="Parte fundamental del Machine Learning."> <a target="_blank" href="https://www.bbva.com/es/machine-learning-que-es-y-como-funciona/">aprender de los datos</a></b>.</p>
                    <a class="btn" href="/metricas_distancia" role="button">Métricas de distancia</a>
                    

                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> Clustering </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block">Consiste en la segmentación y delimitación de grupos
                        de objetos (elementos), que son unidos por características comunes que éstos comparten. Para hacer clustering es necesario saber el grado de similitud <b> <a target="_blank" href="/metricas_distancia"> (medidas de distancia)</a></b> entre los
                        elementos.</p>
                    <a class="btn" href="/clustering" role="button">Clustering</a>
                    

                </div>
            </div>
            
            

            
        </div>
    </div>
    
{% endblock %}




