{% extends './base.html' %}

{% block title%}Una herramienta para IA{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia">Métricas de distancia</a></li>

            <li><a class="dropdown-item" href="#">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12">
                    <h1>GANBATY</h1>
                    <p>Una herramienta de IA diseñada por David Perales Rodríguez para la asignatura de Inteligencia Artificial de la Facultad de Ingeniería en la UNAM</p>
                </div>
                
            </div>
            
        </div>
        
    </header>
{% endblock%}


{% block body %}
   
    <div class="row">

        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Inicio</a></li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>¿QUÉ ES GANBATY?</h2>
            <p>Es un proyecto para la asignatura de inteligencia artificial con el fin de crear una herramienta que emplea algoritmos de Machine Learning como reglas de asociación, métricas de distancia, clustering particional o jerárquico.</p>
            
        </div>
        
    </div>


    <div class="row">
        <div class="col-12">
            <h2>HERRAMIENTAS</h2>
            <div class="card">
                <h3 class="card-header"> REGLAS DE ASOCIACIÓN </h3>
                
                <div class="card-body">
                    <p class="d-none d-sm-block"> Son usados por <b>sistemas de recomendación</b>. Un <b>sistema de recomendación</b> incluye uno o más algoritmos de Inteligencia Artificial que buscan
                        contenido (información) sobre una <b>fuente de datos</b> , ya sea de clientes o usuarios, para generar
                        recomendaciones en función de los gustos o necesidades de la persona.</p>
                    
                        
                    <a class="btn" href="/reglas_asociacion" role="button">Reglas de asociación</a>
                    

                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> MÉTRICAS DE DISTANCIA </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block">Es un algoritmo de aprendizaje automático basado en reglas, que se
                        utiliza para encontrar relaciones ocultas en los datos. También es conocida como una proporción probabilística sobre la ocurrencia de eventos
                        presentes en el conjunto de datos.</p>
                    <p class="d-none d-sm-block">Se originó con el estudio de transacciones de clientes para determinar asociaciones entre los
                        artículos comprados. También se conoce como <b>análisis de afinidad</b>. </p>
                    <a class="btn" href="/metricas_distancia" role="button">Métricas de distancia</a>
                    

                </div>
            </div>
            
            
            

            
        </div>
    </div>
    
{% endblock %}




