{% extends './base.html' %}

{% block title%}GANBATY: Reglas de asociación{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia">Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="#">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h1>Reglas de asociación</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
      
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/reglas_asociacion">Reglas de asociación</a></li>
            <li class="breadcrumb-item active">Parámetros</li>
        </ol>
    </div>

    
    

    <div class="row">
        <div class="col-12 ">
            <h2>Importando archivos</h2>
            <form class = "needs-validation" novalidate action="/reglas_asociacion/parametros" method="POST" enctype="multipart/form-data">
                <div class="card col-12">
                    <h3 class="card-header"> IMPORTA TU ARCHIVO CSV </h3>
                    <div class="card-body">
                        
                        <div class="form-group" >
                            <input type = "file" id="ra_csvfile" name="ra_csvfile" accept=".csv" required/>
                        </div>
                  
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
            <h2>Mediciones para determinar reglas significativas:</h2>
            <div class="card col-sm-4 col-4">
                <h3 class="card-header"> SOPORTE </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block"> Indica cuan importante es una regla dentro del total de transacciones.</p>
                </div>
                <div class="card-footer">
                    <label class="col-form-label" for="soporte">Soporte mínimo %</label>
                    <input type="number"  name="soporte" min="0" max="100" required title="El soporte mínimo es de 0 y máximo de 100">
                </div>
            </div>
            <div class="card col-sm-4 col-4">
                <h3 class="card-header"> CONFIANZA </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block"> Indica que tan fiable es una regla.</p>
                    
                </div>
                <div class="card-footer">
                    <label class="col-form-label" for="confianza">Confianza mínima %</label>
                    <input type="number"  name="confianza"  min="0" max="100"  required title="La confianza mínima es de 0 y máxima de 100">
                </div>
            </div>
            <div class="card col-sm-4 col-4">
                <h3 class="card-header"> ELEVACIÓN</h3>
                <div class="card-body">
                    <p class="d-none d-sm-block"> Indica cuan importante es una regla dentro del total de transacciones.</p>
                    
                </div>
                <div class="card-footer">
                    <label class="col-form-label" for="elevacion">Elevación</label>
                    <input type="number" name="elevacion"  min="0" required title="La elevación mínima es de 0. Mayor a 1 (recomendable)">
                </div>
            </div>

            <div class="form-group col-12">
                <input type = "submit" id="submit" hidden>
                <label class="submit"for="submit">Obtener reglas</label>
            </div>
      

        </form>
            
            
     
    </div>    

    
{% endblock %}


