{% extends './base.html' %}

{% block title%}GANBATY: Reglas de asociación{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="#">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Reglas de asociación</h1>
                    <p>Una herramienta de IA diseñada por David Perales Rodríguez para la asignatura de Inteligencia Artificial de la Facultad de Ingeniería en la UNAM</p>
                </div>
                <div class="col-12 col-sm">
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
      
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active">Reglas de asociación</li>
        </ol>
    </div>

    <div class="col-12">
        <h2>Error: El archivo {{filename} no cumple con el formato CSV}</h2>
    </div>


    
{% endblock %}




