{% extends './base.html' %}

{% block title%}GANBATY: Reglas de asociación{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house me-2"></i>Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-toolbox me-2"></i> Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion"><i class="fa-solid fa-magnifying-glass ms-2 me-4"></i>Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia"> <i class="fa-solid fa-pen-ruler ms-2 me-4"></i> Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering"><i class="fa-solid fa-circle-nodes ms-2 me-4"></i>Clustering</a></li>
            <li><a class="dropdown-item" href="/regresion_logistica"><i class="fa-solid fa-chart-line ms-2 me-4"></i>Regresión logística</a></li>
            <li><a class="dropdown-item" href="/arboles_decision"><i class="fa-solid fa-tree ms-2 me-4"></i>Árboles de decisión</a></li> 
            <li><a class="dropdown-item" href="/bosques_aleatorios"><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-3"></i>Bosques aleatorios</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12">
                    <h1><i class="fa-solid fa-magnifying-glass ms-2 me-4"></i>Reglas de asociación</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}

    <div class="row">
      
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house me-2"></i></a></li>
            <li class="breadcrumb-item active"><i class="fa-solid fa-magnifying-glass me-2"></i>Reglas de asociación</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Tab -->
            <nav>
                <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-definicion-tab" data-bs-toggle="tab" href="#nav-definicion" role="tab" aria-controls="nav-definicion" aria-selected="true"> <span><i class="fa-regular fa-circle-question"></i></span> Definición</a>
                    <a class="nav-item nav-link" id="nav-aplicaciones-tab" data-bs-toggle="tab" href="#nav-aplicaciones" role="tab" aria-controls="nav-aplicaciones" aria-selected="false">Aplicaciones</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-definicion" role="tabpanel" aria-labelledby="nav-definicion-tab">
                    <p class="d-none d-sm-block">
                        Es un algoritmo de aprendizaje automático basado en reglas, que se
                        utiliza para encontrar relaciones ocultas en los datos. Consiste en identificar un 
                        conjunto de patrones secuenciales en forma de reglas de tipo (Si/Entonces). 
                    </p> 
                    <p class="d-none d-sm-block">
                        Este algoritmo emplea tres reglas significativas:
                    </p>
                    <div class="accordion" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                    Soporte
                                </button>
                            </h2>
                            <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p class="d-none d-sm-block">
                                        Indica cuan importante es una regla dentro del total de transacciones. Su fórmula es:
                                    </p>  
                                    <h5 class="text-center">
                                        \(
                                            Soporte = \frac{Frecuencia (X,Y)}{N}
                                        \)
                                    </h5>
                                    Donde: <b>N = Total de transacciones.</b> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                Confianza
                            </button>
                            </h2>
                            <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p class="d-none d-sm-block">
                                        Indica que tan fiable es una regla. Su fórmula es:
                                    </p>  
                                    <h5 class="text-center">
                                        \(
                                            Confianza = \frac{Frecuencia (X,Y)}{Frecuencia (X)}
                                        \)
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                Elevación (lift)
                            </button>
                            </h2>
                            <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p class="d-none d-sm-block">
                                        Indica el nivel de relación (aumento de probabilidad) entre el antecedente y
                                        consecuente de la regla. Su fórmula es:
                                    </p>  
                                    <h5 class="text-center">
                                        \(
                                            Lift = \frac{Soporte}{Soporte(X) X Soporte(Y)}
                                        \)
                                    </h5>
                                    <p class="text-center">
                                        Lift < 1 <b>(Relación negativa)</b>, Lift = 1 <b>(Independientes)</b>, Lift > 1 <b>(Relación positiva)</b>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    

                   


                </div>
                <div class="tab-pane fade" id="nav-aplicaciones" role="tabpanel" aria-labelledby="nav-aplicaciones-tab">
                    <p class="d-none d-sm-block">
                        Son usados en sistemas de recomendaciones. Un sistema de recomendación incluye uno o más algoritmos de Inteligencia Artificial que buscan
                        contenido (información) sobre una fuente de datos, ya sea de clientes o usuarios, para generar
                        recomendaciones en función de los gustos o necesidades de la persona.
                    </p>
                </div>
            </div>
          
            
        </div>
    </div>
 
    <!-- Button Modal -->
    <button type="button" class="btn btn-block btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-form"> <i class="fa-solid fa-upload me-2"></i> Subir archivo CSV </button>
    <!-- Modal Content -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card  p-3 p-lg-4">
                        <div class="card-header  text-center ">
                            <h4>Reglas de asociación</h4>
                            <span>Sube tu archivo CSV e introduce los parámetros</span>
                        </div>
                        <div class="card-body p-0 pl-lg-3">
                            <form action="/reglas_asociacion/resultados" method="POST" enctype="multipart/form-data">
                                <!-- Form -->
                                <label for="ra_csvfile">Archivo CSV</label>
                                <div class="form-group mb-4">
                                    <div class="input-group">     
                                        <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-file"></i></span>
                                        <input class="form-control" type = "file" id="ra_csvfile" name="ra_csvfile" accept=".csv" required/>
                                    </div>
                                </div>
                                <!-- End of Form -->
                             
                                <!-- Form -->
                                <label for="soporte">Soporte mínimo (%)</label>
                                <div class="form-group mb-4">
                                    
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-keyboard"></i></span>
                                        
                                        <input type="number" class="form-control" name="soporte" min="0" max="100" step="any" required title="El soporte mínimo es de 0 y máximo de 100">
                                    </div>
                                </div>
                                <label for="confianza">Confianza (%)</label>
                                <div class="form-group mb-4">
                                    
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-keyboard"></i></span>
                                        <input type="number" class="form-control" name="confianza"  min="0" max="100" step="any" required title="La confianza mínima es de 0 y máxima de 100">
                                    </div>
                                </div>
                                <label for="elevacion">Elevación</label>
                                <div class="form-group mb-4">
                                    
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-keyboard"></i></span>
                                        <input type="number" class="form-control" name="elevacion"  min="0" required step="any" title="La elevación mínima es de 0. Mayor a 1 (recomendable)">
                                    </div>
                                </div>
                              

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Obtener reglas de asociación</button>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
    

    

    
{% endblock %}


