{% extends './base.html' %}

{% block title%}GANBATY: Reglas de asociación{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia">Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12">
                    <h1>Reglas de asociación</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
      
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active">Reglas de asociación</li>
        </ol>
    </div>

    
    <div class="row">
        <div class="col-12 flex-column">
            <h2>¿Qué son las reglas de asociación?</h2>
            <div class="card">
                <h3 class="card-header"> Definición </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block">Es un algoritmo de aprendizaje automático basado en reglas, que se
                        utiliza para encontrar <b> relaciones ocultas </b> en los datos.</p>
                    <p class="d-non d-sm-block">Consiste en identificar un conjunto de patrones secuenciales en forma de reglas de tipo <b>(Si/Entonces).</b></p>
                    <img src="" alt="">
                
                </div>
            </div>
        </div> 
    </div> 
    <div class="row">
        <div class="col-12 flex-column">
            <h2>¿Dónde se usan las reglas de asociación?</h2>
            <div class="card">
                <h3 class="card-header"> Sistemas de recomendaciones </h3>
                <div class="card-body">
                    <p class="d-none d-sm-block">Son usados en <b>sistemas de recomendaciones</b>. Un <b>sistema de recomendación </b>  incluye uno o más algoritmos de Inteligencia Artificial que buscan
                        contenido (información) sobre una fuente de datos, ya sea de clientes o usuarios, para generar
                        recomendaciones en función de los gustos o necesidades de la persona.</p>
                </div>
            </div>
            
        </div> 
    </div>
    <div class="row">
        <a class="btn" href="/reglas_asociacion/parametros"> Obtener reglas de asociación</a>
    </div>

    

    

    
{% endblock %}


