{% extends './base.html' %}

{% block title%}GANBATY: Reglas de asociación{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion">Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="#">Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="#">Clustering</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>REGLAS DE ASOCIACIÓN</h1>
                    <p>Una herramienta de IA diseñada por David Perales Rodríguez para la asignatura de Inteligencia Artificial de la Facultad de Ingeniería en la UNAM</p>
                </div>
                <div class="col-12 col-sm">
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
      
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"> <a href="/reglas_asociacion"> Reglas de asociación</a> </li>
            <li class="breadcrumb-item active">Resultados</li>
        </ol>
    </div>
   
   

    

    <div class="row">
        <h2>RESULTADOS</h2>
        <h3>Número de reglas: {{size}}</h3>
        <h3>Soporte: {{soporte}}</h3>
        <h3>Confianza: {{confianza}}</h3>
        <h3>Elevación: {{elevacion}}</h3>
        
            
      
            
        
     
        
        <!-- For loop logic of jinja template -->
        {%for item in Resultados%}
            
            <div class="card col-sm-3">
                <h3 class="card-header"> <b>Regla: {{loop.index}}</b> </h3>
                <div class="card-body">
                    
                    <h4> <b>Items:</b>  </h4>
                    {%for x in item[0]%}
                        <li id = "reglas">
                            {{x}}
                        </li>
                    {%endfor%}
                    
                    <h4><b>Soporte:</b></h4>  {{item[1]}}
                    
                    <h4><b>Confianza:</b></h4> {{item[2][0][2]}} 

                    <h4><b>Elevación:</b></h4>  {{item[2][0][3]}}

                </div>
                
            </div>
        {%endfor%}
        
    </div>   
 
        
    
    
{% endblock %}




