{% extends './base.html' %}

{% block title%}GANBATY: Regresión logística{% endblock%}

{% block navbar%}
    
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house me-2"></i>Inicio</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-toolbox me-2"></i> Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion"><i class="fa-solid fa-magnifying-glass ms-2 me-4"></i>Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia"><i class="fa-solid fa-pen-ruler ms-2 me-4"></i> Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering"><i class="fa-solid fa-circle-nodes ms-2 me-4"></i>Clustering</a></li>
            <li><a class="dropdown-item" href="/regresion_logistica"><i class="fa-solid fa-chart-line ms-2 me-4"></i>Regresión logística</a></li>
            <li><a class="dropdown-item" href="/arboles_decision"><i class="fa-solid fa-tree ms-2 me-4"></i>Árboles de decisión</a></li> 
            <li><a class="dropdown-item" href="/bosques_aleatorios"><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-3"></i>Bosques aleatorios</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1><i class="fa-solid fa-chart-line me-4"></i></i>Regresión logística</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
        
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house me-1"></i></a></li>
            <li class="breadcrumb-item"><a href="/regresion_logistica">  <i class="fa-solid fa-chart-line me-2"></i>Regresión logística</a></li>
            <li class="breadcrumb-item"><a href="/regresion_logistica/parametros_"></a>  <i class="fa-solid fa-gear me-2"></i>Parámetros</li>
            <li class="breadcrumb-item active"><i class="fa-solid fa-bullhorn me-2"></i>Resultados</li>
        
        </ol>
    </div>
   
    <div class="row">
        <h2><i class="fa-solid fa-bullhorn me-4"></i>Prónostico</h2>
    </div>      


    
    
    <div class="row">
        <h3>{{var}}</h3>         
    </div>
  

    <!-- Button Modal -->
    <button type="button" class="btn btn-block btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-form"> <i class="fa-solid fa-upload me-2"></i> Subir archivo CSV </button>
    <!-- Modal Content -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card  p-3 p-lg-4">
                        <div class="card-header  text-center ">
                            <h4>Regresión logística</h4>
                            <span>Sube tu archivo CSV e introduce los parámetros</span>
                        </div>
                        <div class="card-body p-0 pl-lg-3">
                            <form action="/regresion_logistica/parametros" method="POST" enctype="multipart/form-data">
                                <!-- Form -->
                                <label for="rl_csvfile">Archivo CSV</label>
                                <div class="form-group mb-4">
                                    <div class="input-group">     
                                        <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-file"></i></span>
                                        <input class="form-control" type = "file" id="rl_csvfile" name="rl_csvfile" accept=".csv" required/>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Seleccionar las características</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
   
    
    
{% endblock %}




