{% extends './base.html' %}

{% block title%}GANBATY: Regresión logística{% endblock%}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house me-2"></i>Inicio</a>
    </li>
    <li class="nav-item dropdown">
        
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-toolbox me-2"></i> Herramientas
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reglas_asociacion"><i class="fa-solid fa-magnifying-glass ms-2 me-4"></i>Reglas de asociación</a></li>
            <li><a class="dropdown-item" href="/metricas_distancia"><i class="fa-solid fa-pen-ruler ms-2 me-4"></i> Métricas de distancia</a></li>
            <li><a class="dropdown-item" href="/clustering"><i class="fa-solid fa-circle-nodes ms-2 me-4"></i>Clustering</a></li>
            <li><a class="dropdown-item" href="/regresion_logistica"><i class="fa-solid fa-chart-line ms-2 me-4"></i>Regresión logística</a></li>
            <li><a class="dropdown-item" href="/arboles_decision"><i class="fa-solid fa-tree ms-2 me-4"></i>Árboles de decisión</a></li> 
            <li><a class="dropdown-item" href="/bosques_aleatorios"><i class="fa-solid fa-tree"></i><i class="fa-solid fa-tree me-3"></i>Bosques aleatorios</a></li>
            
        </ul>
    </li>
{% endblock%}

{% block jumbotron%}
    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row row-header">
                <div class="col-12">
                    <h1><i class="fa-solid fa-chart-line me-4"></i></i>Regresión logística</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock%}





{% block body %}
   
    <div class="row">
      
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house me-2"></i></a></li>
            <li class="breadcrumb-item"><a href="/regresion_logistica">  <i class="fa-solid fa-chart-line me-2"></i>Regresión logística</a></li>
            <li class="breadcrumb-item active"><i class="fa-solid fa-gear me-2"></i>Parámetros</li>
       
        </ol>
    </div>

    <div class="row">
        <h2><i class="fa-solid fa-gear me-2"></i>PARÁMETROS</h2>
    </div>  


    <div class="row">

   
        <h3>Mapa de calor del dataframe: <strong>{{filename}}</strong></h3>

        <img class="img-fluid" src="data:image/png;base64, {{ plot_url }}">



        <form action="/regresion_logistica/resultados" method="POST" enctype="multipart/form-data">
            <!-- Form -->
            
            <label for="colum[]">Selecciona las columnas que desea eliminar</label>
            <div class="form-group mb-4">
                <div class="input-group">
                    <select class="form-select" multiple name="colum[]">
                        {% for item in columns_names_list %}
                            <option value= {{ loop.index }}>
                                {{ item }} 
                            </option> 
                        {% endfor %}
                        
                    </select>
                </div>
            </div>


            <label for="v_clase">Variable a predecir</label>
            <div class="form-group mb-4">
                <div class="input-group">  
                    <select class="form-select" name="v_clase" aria-label="Default select example">       
                        {% for item in columns_names_list %}
                            <option value= {{ loop.index }}>
                                {{ item }} 
                            </option> 
                        {% endfor %}          
                    </select>
                </div>
            </div>
         
            <label for="rl_csvfile">Vuelve a subir el archivo <b>{{filename}}</b></label>
            <div class="form-group mb-4">
                <div class="input-group">     
                    <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-file"></i></span>
                    <input class="form-control" type = "file" id="rl_csvfile" name="rl_csvfile" accept=".csv" required/>
                </div>
            </div>

            <!-- End of Form -->
            <div class="d-grid">
                <button type="submit" class="btn btn-dark">Realizar clasificación</button>
            </div>
            
            
        </form>
            
    </div>
{% endblock %}


